VITE_META_ENDPOINT=https://meta.example
VITE_DATA_ENDPOINT=https://data.example
VITE_UPLOAD_META_ENDPOINT=https://upload.example/v2/upload/meta
VITE_UPLOAD_DATA_ENDPOINT=https://upload.example/v2/upload/data
VITE_UPLOAD_AUTH_ENDPOINT=https://upload.example/v2/auth
